nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.scrolled{
    position: fixed;
}

img.logo {
    height: 50px;
}

.menu {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #3AAFF1;
    font-weight: 600;
}
#navbar li a:hover::after,
#navbar li a.active::after  {
    content: "";
    width: 20%;
    height: 2px;
    background-color: #3AAFF1;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#navbar li.menu-item:last-child { 
    margin-right: 50px; 
 }

.menu-item-social {
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem;
}

.menu-item-social img {
    width: 25px;
}

.menu-mobile {
    display: none;
}

@media screen and (max-width:769px){
    nav{
        padding: 25px 20px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color: #31313167;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active{
        right: -0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }

    .menu-mobile {
        display: block;
    }
    .menu-item-social {
        display: none;
    }
    img.logo{
        height: 50px;
    }
    img#bar {
        width: 30px;
        cursor: pointer;
    }
}