@import url('./global.css');
@import "rsuite/dist/rsuite.css";

.Timeline {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}
.Timeline h1 {
    font-family: "LostinSpace";
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

.Timeline h2 {
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
    line-height: normal;
    color: #7f7f7f;
    font-style: italic;
    padding: 10px;
    border-left: 5px solid #ccc;
    margin-bottom: 2rem;
}

.Timeline h2:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

.Timeline-container {
    height: 40vh;
    max-height: 40vh;
    width: 100%;
    overflow-y: visible;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 2rem;
    background-color: #fff;

    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.timeline-scroll-container {
    /* Set a fixed height for the scrollable container */
    height: 100%;
    
    overflow-y: scroll;
    /* Add any other styles you want for the scrollable container */
  }

.timeline-item {
    display: flex;
    flex-direction: row;
    position: relative;
}


@media screen and (max-width: 768px) {
    .Timeline {
        padding: 0 1rem;
    }
    .Timeline h1 {
        text-align: center;
        line-height: normal;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .Timeline h2 {
        display: none;
    }
    .Timeline-container {
        max-height: 40vh;
        overflow-y: visible;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
}